<a href="https://colab.research.google.com/github/Nerdward/Ml-Projects/blob/main/HamoyeStageA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [18]:
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [31]:
df.groupby('Item').sum().loc['Animal fats','Y2014':]

Y2014    209460.54
Y2015    200675.72
Y2016    183314.22
Y2017    269617.53
Y2018    269648.27
Name: Animal fats, dtype: float64

In [35]:
df['Y2015'].mean()

135.23596649549236

In [36]:
df['Y2015'].std()

1603.4039839423301

In [44]:
df['Y2016'].isnull().sum()

1535

In [46]:
df['Y2016'].isnull().mean() *100

2.5187470259094566

In [53]:
df.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [61]:
df.groupby('Element').sum().loc['Import Quantity','Y2014':].idxmax()

'Y2017'

In [64]:
df.groupby('Element').sum().loc['Production','Y2014']

1931287.7500000005

In [68]:
df[['Y2018','Element']].groupby('Element').sum().idxmax()

Y2018    Domestic supply quantity
dtype: object

In [75]:
df[['Y2018','Element']].groupby('Element').sum().sort_values('Y2018').iloc[2]

Y2018    11833.56
Name: Protein supply quantity (g/capita/day), dtype: float64

In [85]:
df[['Element','Area','Y2018']].groupby(['Element','Area']).sum().loc[['Import Quantity']]

                                                Y2018
Element         Area
Import Quantity Algeria                      36238.29
                Angola                        7769.67
                Benin                         7008.24
                Botswana                      1908.42
                Burkina Faso                  2605.64
                Cabo Verde                     499.66
                Cameroon                      4188.88
                Central African Republic        75.02
                Chad                           491.95
                Comoros                          2.92
                Congo                         1785.27
                Côte d'Ivoire                 9271.21
                Djibouti                      3784.92
                Egypt                        53954.20
                Eswatini                       936.53
                Ethiopia                      5655.24
                Ethiopia PDR                     0.00
                Gabon                         1079.75
                Gambia                        1212.10
                Ghana                         9914.68
                Guinea                        4707.95
                Guinea-Bissau                  497.72
                Kenya                        11188.96
                Lesotho                       1016.97
                Liberia                       1203.77
                Madagascar                    3214.79
                Malawi                         520.20
                Mali                          1962.06
                Mauritania                    3575.74
                Mauritius                     1672.39
                Morocco                      19448.50
                Mozambique                    5552.03
                Namibia                       1462.04
                Niger                         2390.20
                Nigeria                      21923.38
                Rwanda                        1734.44
                Sao Tome and Principe           84.10
                Senegal                       8005.24
                Seychelles                      77.71
                Sierra Leone                  1659.22
                South Africa                 16192.45
                Sudan                         9130.11
                Sudan (former)                   0.00
                Togo                          3625.48
                Tunisia                      11030.91
                Uganda                        3209.87
                United Republic of Tanzania   1863.68
                Zambia                         990.75
                Zimbabwe                      1673.84

In [86]:
df['Area'].nunique()

49