In [53]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('energydata_complete.csv')

In [55]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
lr = LinearRegression()

In [58]:
X = df[['T2']]

In [59]:
y = df['T6']

In [60]:
lr.fit(X,y)

LinearRegression()

In [61]:
from sklearn.metrics import r2_score

In [62]:
score = r2_score(y, lr.predict(X))

In [63]:
round(score, 2)

0.64

In [64]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [65]:
new_df = df.drop(columns=['date', 'lights'])

In [66]:
normalized_df = pd.DataFrame(scaler.fit_transform(new_df), columns=new_df.columns)

In [67]:
X =normalized_df.drop(columns=['Appliances'])
y = normalized_df['Appliances']

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3 , random_state= 42 )

In [70]:
mlr = LinearRegression()
mlr.fit(X_train,y_train)

LinearRegression()

In [71]:
from sklearn.metrics import mean_absolute_error
score = mean_absolute_error(y_test, mlr.predict(X_test))

In [72]:
score

0.05013362397742959

In [73]:
rss = np.sum(np.square(y_test - mlr.predict(X_test)))

In [74]:
round(rss, 2)

45.35

In [75]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, mlr.predict(X_test)))
round(rmse, 3)

0.088

In [76]:
r2 = r2_score(y_test, mlr.predict(X_test))
round(r2, 2)

0.15

In [77]:
def get_weights_df(model, feat, col_name) :
#this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = [ 'Features' , col_name]
  weights_df[col_name].round( 3 )
  return weights_df

linear_model_weights = get_weights_df(mlr, X_train, 'Linear_Model_Weight' )

In [78]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [79]:
from sklearn.linear_model import Ridge

In [80]:
rid = Ridge(alpha=0.4)
rid.fit(X_train, y_train)

Ridge(alpha=0.4)

In [81]:
rmse = np.sqrt(mean_squared_error(y_test, rid.predict(X_test)))
round(rmse, 3)

0.088

In [43]:
from sklearn.linear_model import Lasso
las = Lasso(alpha=0.001)
las.fit(X_train, y_train)

Lasso(alpha=0.001)

In [44]:
lasso_model_weights = get_weights_df(las, X_train, 'Linear_Model_Weight' )

In [50]:
lasso_model_weights

       Features  Linear_Model_Weight
0        RH_out            -0.049557
1          RH_8            -0.000110
2            T1             0.000000
3     Tdewpoint             0.000000
4    Visibility             0.000000
5   Press_mm_hg            -0.000000
6         T_out             0.000000
7          RH_9            -0.000000
8            T9            -0.000000
9            T8             0.000000
10         RH_7            -0.000000
11          rv1            -0.000000
12           T7            -0.000000
13           T6             0.000000
14         RH_5             0.000000
15           T5            -0.000000
16         RH_4             0.000000
17           T4            -0.000000
18         RH_3             0.000000
19           T3             0.000000
20         RH_2            -0.000000
21           T2             0.000000
22         RH_6            -0.000000
23          rv2            -0.000000
24    Windspeed             0.002912
25         RH_1             0.017880

In [49]:
lasso_model_weights[lasso_model_weights['Linear_Model_Weight'] != 0].shape

(4, 2)

In [51]:
rmse = np.sqrt(mean_squared_error(y_test, las.predict(X_test)))
round(rmse, 3)

0.094